<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">
    <global-method-security secured-annotations="enabled" />
    <!-- enable use-expressions -->
    <http auto-config="true" use-expressions="true">
        <!-- access denied page -->
        <access-denied-handler error-page="/deniedPage"/>
        <form-login
                login-page="/sign"
                default-target-url="/create"
                authentication-failure-url="/sign?error"
                username-parameter="username"
                password-parameter="password"/>
        <logout logout-success-url="/sign?logout"/>
        <remember-me/>
        <!-- enable csrf protection -->
       <csrf/>
    </http>
    <authentication-manager>
        <authentication-provider user-service-ref="myUserDetailsService"/>
    </authentication-manager>
</beans:beans>